<div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">  <div class="card" style="width: 100%;">
            <div class="card-header">
                <i class="bi bi-cart me-2"></i>Buffet - Carrito de compras
            </div>
            <div class="card-body">
                <div *ngIf="!mostrarConfirmacion && !mostrarTicket">
                    <div class="row">
                        <div class="col-12 items">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Subtotal</th>
                                        <th></th> </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cartItems.menus; let i = index">
                                        <td>{{ item.menu.nombre }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td>$ {{ item.menu.precio }}</td>
                                        <td>$ {{ item.menu.precio * item.cantidad }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm btn-delete" (click)="eliminarMenu(i)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of cartItems.foods; let i = index">
                                        <td>{{ item.comida.nombre }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td>$ {{ item.comida.precio }}</td>
                                        <td>$ {{ item.comida.precio * item.cantidad }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm btn-delete" (click)="eliminarComida(i)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 totals text-end">  <p>Total: $ {{ calcularTotal() }}</p>
                        </div>
                    </div>
                    
                    <p class="mt-2">Cantidad de Comidas: {{ getCantidadComidas() }}</p>
                    <p class="mt-2">Cantidad de Menus: {{ getCantidadMenus() }}</p>
                    <p class="mt-2 text-end">Total: ${{ calcularTotal() }}</p>

                    <button class="btn btn-primary mt-2 w-100" (click)="realizarPedido()"
                        [disabled]="cartItems.menus.length === 0 && cartItems.foods.length === 0">
                        Realizar Pedido
                    </button>

                </div>

                <div *ngIf="mostrarConfirmacion && !mostrarTicket">  <h3>¡Pedido Confirmado!</h3>
                    <p>
                        Gracias por tu compra. Tu número de pedido es:
                        <strong>{{ orderId }}</strong>
                    </p>
                </div>


                <div class="ticket" *ngIf="mostrarTicket">
                    <div class="row">
                        <div class="col-12 header text-center"> 
                             
                            <p class="fecha">Fecha: {{ fecha | date:'short' }}</p>
                            <h2>Ticket de Compra</h2>
                            <p>Nro. de Pedido: <strong>{{ orderId }}</strong></p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12 footer text-center">  <p>¡Gracias por tu compra!</p>
                            <p>Este ticket no es válido como factura.</p>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <button class="btn btn-primary mt-2 w-100" (click)="imprimirTicket()">Imprimir
                                Ticket</button>
                            <button class="btn btn-primary mt-2 w-100" (click)="cerrarConfirmacion()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>