.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  
    /* Para pantallas grandes (ajusta el valor según tus necesidades) */
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    }
  
    /* Para pantallas medianas (ajusta los valores según tus necesidades) */
    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}

.mat-card {
    width: calc(20% - 20px);
    /* 20% de ancho con un margen de 20px a cada lado */
    height: 300px;
    margin: 10px;
}

img {
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
}

.button {
    margin-left: 10px;
}

.btn-celeste {
    background-color: #add8e6;
    border-color: #add8e6;
}

.btn-rosa-suave {
    background-color: #ffc1c1;
    border-color: #ffc1c1;
}

.btn-verde-menta {
    background-color: #98FB98;
    border-color: #98FB98;
    }