<div>
  <button mat-flat-button (click)="navigateToNewMenu()">Nuevo Menu<i class="material-icons">add_circle</i></button>
</div>
<div class="cards-container">
  <div *ngFor="let menu of menus; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ menu.nombre }}</h2>
        </mat-card-title>
        <img [src]="getImageUrl(i)" alt="Imagen del elemento {{ i + 1 }}">
        <mat-card-subtitle>Precio: {{ menu.precio }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="isDetailVisible[i]">
        <ul>
          <li *ngFor="let estructura of menu.estructuras">
            <h4>{{ estructura.nombre }}</h4>
            <ul>
              <li *ngFor="let comida of estructura.comidas">
                {{ comida.nombre }}
              </li>
            </ul>
          </li>
        </ul>
        <br>
      </mat-card-content>
      <div class="container">
        <button class="btn btn-celeste btn-sm" (click)="isDetailVisible[i] = !isDetailVisible[i]">
          {{ isDetailVisible[i] ? 'Ocultar detalle' : 'Ver detalle' }}
        </button>
        <button class="btn btn-rosa-suave btn-sm" (click)="deleteMenu(menu.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="btn btn-verde-menta btn-sm" [routerLink]="['/menu', menu.id, 'edit']">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>