.cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Limita el ancho máximo del contenedor para que quepa en tu diseño */
    max-width: 1200px;
    /* Ajusta según tu diseño */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
}

.mat-card {
    width: calc(20% - 20px);
    /* 20% de ancho con un margen de 20px a cada lado */
    height: 300px;
    margin: 10px;
}

img {
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
  }
  
  .button {
    margin-left: 10px;
  }