<div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-end gap-2 mb-2">
    <h2 class="mb-0">Pedidos</h2>
    <button class="btn btn-primary " [routerLink]="['/pedidos', 'crear']">
        <i class="bi bi-plus-lg"></i>
        Nuevo pedido
      </button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2024-05-16</td>
            <td>Enviado</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2024-05-15</td>
            <td>Entregado</td>
            <td>$50</td>
        </tr>
    </tbody>
</table>
