<div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-end gap-2 mb-2">
    <h2 class="mb-0">Pedidos</h2>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.id}}</td>
            <td>{{formatearFecha(pedido.fecha)}}</td>
            <td><span class="badge me-2 bg-secondary" *ngIf="pedido.estado === 'PENDIENTE'">Pendiente</span>
                <span class="badge me-2 bg-warning" *ngIf="pedido.estado === 'PREPARACION'">En preparación</span>
                <span class="badge me-2 bg-primary" *ngIf="pedido.estado === 'LISTO'">Listo para retirar</span>
                <span class="badge me-2 bg-success" *ngIf="pedido.estado === 'ENTREGADO'">Entregado</span>
            </td>
            <td>${{pedido.monto}}</td>
        </tr>
    </tbody>
</table>