.user-container {
    display: flex;
    align-items: center;
  }

  .user-name {
    font-weight: bold; /* Hace que el nombre sea negrita */
  }

  .alert {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .show-alert {
    opacity: 1;
  }