<nav class="navbar fixed-top navbar-expand-lg bg-body border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <mat-icon class="d-inline-block align-text-top">lunch_dining</mat-icon>
      ¿Qué comemos?
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" [routerLink]="['/menus']">Menús</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/comidas']">Comidas</a>
        </li>


        <li class="nav-item" *ngIf="usuarioLogeado?.rolName !== 'USER'">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/sugerencias']"
            *ngIf="usuarioLogeado?.rolName !== 'USER'">Sugerencias</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/sugerencias/crear']"
            *ngIf="usuarioLogeado?.rolName === 'USER'">Sugerencias</a>
        </li>
      </ul>
      <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
        {{ alertMessage }}
      </div>

      <div *ngIf="!isLoggedIn">
        <button class="btn" [routerLink]="['/registrarse']">Registrarse</button>
        <button class="btn btn-primary" [routerLink]="['/iniciar-sesion']">Iniciar sesión</button>
      </div>
      <div *ngIf="isLoggedIn" class="user-container">
        <span class="user-name">¡Hola, {{ usuarioLogeado?.nombre }}!</span>
        <button class="btn btn-danger  mx-2" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
     
    </div>
  </div>
</nav>