<div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-end gap-2 mb-2">
  <h2 class="mb-0">
    Comidas
  </h2>
  <button class="btn btn-primary " [routerLink]="['/comidas', 'crear']">
    <i class="bi bi-plus-lg"></i>
    Nueva comida
  </button>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col" *ngFor="let comida of comidas; let i = index">
    <div class="card">
      <img *ngIf="!imageLoaded[i] && imageError[i]" src="/food-placeholder.png" class="card-img-top"
        alt="{{comida.nombre}}">
      <img *ngIf="!imageError[i]" [src]="comida.foto" class="card-img-top" alt="{{comida.nombre}}"
        (load)="onImageLoad(i)" (error)="onImageError(i)">
      <div class="card-body">
        <h5 class="card-title">{{ comida.nombre }}</h5>
        <p class="card-text">
          $ {{ comida.precio }}
        </p>
        <div class="btn-group" role="group" aria-label="Botones de la comida">
          <button (click)="editFood(comida.id)" class="btn btn-sm btn-outline-secondary">Editar</button>
          <button (click)="deleteFood(comida.id)" class="btn btn-sm btn-outline-danger ">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>