<div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-end gap-2 mb-2">
  <h2 class="mb-0">
    Comidas
  </h2>
  <button *ngIf="usuarioLogeado?.rolName === 'ADMIN'" class="btn btn-primary " [routerLink]="['/comidas', 'crear']">
    <i class="bi bi-plus-lg"></i>
    Nueva comida
  </button>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col" *ngFor="let comida of comidas">
    <div class="card comida">
      <img *ngIf="!comida.imageLoaded && comida.imageError" src="/food-placeholder.png" class="card-img-top"
        alt="{{comida.nombre}}">
      <img *ngIf="!comida.imageError" [src]="comida.foto" class="card-img-top" alt="{{comida.nombre}}"
        (load)="onImageLoad(comida.id)" (error)="onImageError(comida.id)">
      <div class="card-body">
        <h5 class="card-title">{{ comida.nombre }}</h5>
        <p class="card-text fw-bold">
          $ {{ comida.precio }}
        </p>
        <div *ngIf="usuarioLogeado?.rolName === 'ADMIN'" class="btn-group" role="group"
          aria-label="Botones de la comida">
          <button (click)="editFood(comida.id)" class="btn btn-sm btn-outline-secondary">Editar</button>
          <button (click)="deleteFood(comida.id)" class="btn btn-sm btn-outline-danger ">Eliminar</button>
        </div>
        <div *ngIf="usuarioLogeado?.rolName === 'USER'" class="mt-2"> <label
            for="quantity-{{comida.id}}">Cantidad:</label>
          <input type="number" id="quantity-{{comida.id}}" class="form-control form-control-sm"
            [(ngModel)]="cantidadPorComida[comida.id]" min="1" value="1">
          <button class="btn btn-sm btn-primary mt-2" (click)="agregarComidaAlPedido(comida)">Agregar al pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>