<button class="btn btn-primary mb-2" [routerLink]="['/comidas', 'crear']"> Nueva Comida</button>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col" *ngFor="let comida of comidas; let i = index">
    <div class="card">
      <img *ngIf="!imageLoaded[i] && imageError[i]" src="/food-placeholder.png" class="card-img-top"
        alt="{{comida.nombre}}">
      <img *ngIf="!imageError[i]" [src]="comida.foto" class="card-img-top" alt="{{comida.nombre}}"
        (load)="onImageLoad(i)" (error)="onImageError(i)">
      <div class="card-body">
        <h5 class="card-title">{{ comida.nombre }}</h5>
        <p class="card-text">
          $ {{ comida.precio }}
        </p>
        <div class="d-grid gap-2 d-md-flex">
          <button (click)="editFood(comida.id)" class="btn w-100 btn-outline-secondary">Editar</button>
          <button (click)="deleteFood(comida.id)" class="btn w-100 btn-outline-danger ">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>