<button class="btn" routerLink="/comidas">Volver</button>
<form class="container-form mt-4" [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <h2 class="mb-4">
    Modificar comida
  </h2>
  <div class="mb-3 form-group">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" id="nombre" class="form-control" formControlName="nombre">
    <div *ngIf="foodForm.get('nombre')?.invalid && (foodForm.get('nombre')?.dirty || foodForm.get('nombre')?.touched)">
      <div class="text-danger" *ngIf="foodForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.
      </div>
    </div>
  </div>

  <div class="mb-3 form-group">
    <label for="precio" class="form-label">Precio</label>
    <input type="number" id="precio" class="form-control" formControlName="precio">
    <div class="text-danger"
      *ngIf="foodForm.get('precio')?.invalid && (foodForm.get('precio')?.dirty || foodForm.get('precio')?.touched)">
      <div *ngIf="foodForm.get('precio')?.errors?.['required']">El precio es obligatorio.
      </div>
      <div *ngIf="foodForm.get('precio')?.errors?.['min']">El precio debe ser mayor o igual a
        0.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Foto</label>
    <input class="form-control" type="file" id="formFile">
  </div>


  <button type="submit" class="btn btn-primary">Modificar comida</button>

  <div *ngIf="createSuccessMessage" class="alert alert-success mt-3">
    {{ createSuccessMessage }}
  </div>

  <div *ngIf="createErrorMessage" class="alert alert-danger mt-3">
    {{ createErrorMessage }}
  </div>
</form>