<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="displaySidebar" class="sidebar">
      <mat-list role="list">
        <mat-list-item role="listitem" (click)="navigateToHome()">
          <div class="list-item">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>Home</span>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem" (click)="navigateToMenu()">
          <div class="list-item">
            <mat-icon>fastfood</mat-icon>
            <span>Menu</span>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </div>
        </mat-list-item>
      </mat-list>      
    </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="showInitialMessage" >
        <mat-card class="card" appearance="outlined" >
          <mat-card-title>Sistema de Gestión del Buffet</mat-card-title>
          <mat-card-content>
              <p>Este es un sistema diseñado para gestionar tu buffet de manera eficiente.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

 
  